Node-RED_flows/Dashboard_recording.json
[{"id":"abce1079.e5e39","type":"tab","label":"Record to Database","disabled":false,"info":""},{"id":"5dbd1e80.4386b","type":"change","z":"abce1079.e5e39","name":"Set Recording flag in Global","rules":[{"t":"set","p":"fumehood1.setRecording","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":120,"wires":[["c54d4522.ffcf78"]]},{"id":"5ee65e8.34332a","type":"ui_switch","z":"abce1079.e5e39","name":"","label":"RECORD data to DB","tooltip":"","group":"89d9c446.b796e8","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":180,"y":120,"wires":[["5dbd1e80.4386b"]]},{"id":"45a2463c.9c80c8","type":"mysql","z":"abce1079.e5e39","mydb":"1d1505a8.e805ba","name":"MYSQL (Pharma DB)","x":1240,"y":120,"wires":[["b0916753.d6e618","218568ff.c47c98"]]},{"id":"23d7085.e0a95f8","type":"template","z":"abce1079.e5e39","name":"Add recording data","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO `recordings` (`time`) VALUES ({{time}})","output":"str","x":1030,"y":120,"wires":[[]]},{"id":"850ac585.a69718","type":"comment","z":"abce1079.e5e39","name":"Insert new recording in recording table","info":"","x":990,"y":80,"wires":[]},{"id":"21f6e34e.6034fc","type":"change","z":"abce1079.e5e39","name":"","rules":[{"t":"set","p":"time","pt":"msg","to":"","tot":"date"},{"t":"set","p":"datetime","pt":"msg","to":"2020-12-08 11:22:33","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":120,"wires":[["23d7085.e0a95f8"]]},{"id":"9370c26f.85fce","type":"debug","z":"abce1079.e5e39","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1450,"y":640,"wires":[]},{"id":"8a221271.beb25","type":"inject","z":"abce1079.e5e39","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":170,"y":180,"wires":[["5dbd1e80.4386b"]]},{"id":"b0916753.d6e618","type":"change","z":"abce1079.e5e39","name":"Store new rowId of recording","rules":[{"t":"set","p":"fumehood1.recordingRowID","pt":"global","to":"payload.insertId","tot":"msg"},{"t":"set","p":"insertId","pt":"msg","to":"payload.insertId","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1480,"y":120,"wires":[["2390b68.1fee44a"]]},{"id":"76df0099.61f29","type":"template","z":"abce1079.e5e39","name":"Get dateTime as TableName","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT\n datetime\nFROM recordings\nWHERE idrecordings = {{insertId}};","output":"str","x":720,"y":200,"wires":[["896d91e0.122af"]]},{"id":"896d91e0.122af","type":"mysql","z":"abce1079.e5e39","mydb":"1d1505a8.e805ba","name":"MYSQL (Pharma DB)","x":1040,"y":200,"wires":[["38c5d1d0.7468ce"]]},{"id":"38c5d1d0.7468ce","type":"change","z":"abce1079.e5e39","name":"Store datetime of New Recording Row","rules":[{"t":"set","p":"fumehood1.recordingRowDateTime","pt":"global","to":"payload[0]date.time","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload[0].datetime","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1510,"y":200,"wires":[["8dac1abc.cf1348"]]},{"id":"2390b68.1fee44a","type":"change","z":"abce1079.e5e39","name":"","rules":[{"t":"set","p":"recordingId","pt":"msg","to":"payload.insertId","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":200,"wires":[["76df0099.61f29"]]},{"id":"d4a597dc.ddfa78","type":"comment","z":"abce1079.e5e39","name":"Store New Recordings Row's timestamp","info":"","x":1050,"y":240,"wires":[]},{"id":"808a76ac.ac7858","type":"ui_text","z":"abce1079.e5e39","group":"89d9c446.b796e8","order":2,"width":0,"height":0,"name":"Table Name","label":"Table Name","format":"{{msg.payload}}","layout":"row-spread","x":1950,"y":200,"wires":[]},{"id":"c54d4522.ffcf78","type":"switch","z":"abce1079.e5e39","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":1,"x":650,"y":120,"wires":[["21f6e34e.6034fc"]]},{"id":"bb37e1fe.26a96","type":"ui_led","z":"abce1079.e5e39","order":2,"group":"89d9c446.b796e8","width":0,"height":0,"label":"RECORDING","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"green","value":"true","valueType":"bool"},{"color":"red","value":"false","valueType":"bool"},{"color":"orange","value":"disconnected","valueType":"str"}],"allowColorForValueInMessage":false,"name":"RECORDING","x":980,"y":380,"wires":[]},{"id":"714d6a1e.fe9634","type":"inject","z":"abce1079.e5e39","name":"Check if recording was activated","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"fumehood1.setRecording","payloadType":"global","x":280,"y":380,"wires":[["bb37e1fe.26a96","fda4ef72.09ddb"]]},{"id":"e602b259.0ab68","type":"switch","z":"abce1079.e5e39","name":"Check if data needs to be recorded","property":"fumehood1.setRecording","propertyType":"global","rules":[{"t":"eq","v":"true","vt":"jsonata"},{"t":"eq","v":"false","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":2,"x":380,"y":500,"wires":[["6a81cffe.c99f9","e0201eee.fefa4"],[]]},{"id":"e0201eee.fefa4","type":"change","z":"abce1079.e5e39","name":"","rules":[{"t":"set","p":"time","pt":"msg","to":"","tot":"date"},{"t":"set","p":"recording_id","pt":"msg","to":"fumehood1.recordingRowID","tot":"global"},{"t":"set","p":"pressSystem","pt":"msg","to":"flowsynmaxi1.pressureSystem","tot":"global"},{"t":"set","p":"pressFlowSynA","pt":"msg","to":"flowsynmaxi1.pressureFlowSynA","tot":"global"},{"t":"set","p":"pressFlowSynB","pt":"msg","to":"flowsynmaxi1.pressureFlowSynB","tot":"global"},{"t":"set","p":"pressFlowBinC","pt":"msg","to":"flowsynmaxi1.pressureBinaryC","tot":"global"},{"t":"set","p":"pressFlowBinD","pt":"msg","to":"flowsynmaxi1.pressureBinaryD","tot":"global"},{"t":"set","p":"tempReactor1","pt":"msg","to":"flowsynmaxi1.temperatureReactor1","tot":"global"},{"t":"set","p":"tempReactor2","pt":"msg","to":"flowsynmaxi1.temperatureReactor2","tot":"global"},{"t":"set","p":"tempReactor3","pt":"msg","to":"flowsynmaxi1.temperatureReactor3","tot":"global"},{"t":"set","p":"tempReactor4","pt":"msg","to":"flowsynmaxi1.temperatureReactor4","tot":"global"},{"t":"set","p":"valveOpenA","pt":"msg","to":"flowsynmaxi1.valveOpenA","tot":"global"},{"t":"set","p":"valveOpenB","pt":"msg","to":"flowsynmaxi1.valveOpenB","tot":"global"},{"t":"set","p":"valveOpenC","pt":"msg","to":"flowsynmaxi1.valveOpenC","tot":"global"},{"t":"set","p":"valveOpenD","pt":"msg","to":"flowsynmaxi1.valveOpenD","tot":"global"},{"t":"set","p":"valveOpenCW","pt":"msg","to":"flowsynmaxi1.valveOpenCW","tot":"global"},{"t":"set","p":"valveInjOpenA","pt":"msg","to":"flowsynmaxi1.valveInjOpenA","tot":"global"},{"t":"set","p":"valveInjOpenB","pt":"msg","to":"flowsynmaxi1.valveInjOpenB","tot":"global"},{"t":"set","p":"valveInjOpenC","pt":"msg","to":"flowsynmaxi1.valveInjOpenC","tot":"global"},{"t":"set","p":"valveInjOpenD","pt":"msg","to":"flowsynmaxi1.valveInjOpenD","tot":"global"},{"t":"set","p":"flowRatePumpA","pt":"msg","to":"flowsynmaxi1.flowRatePumpA","tot":"global"},{"t":"set","p":"flowRatePumpB","pt":"msg","to":"flowsynmaxi1.flowRatePumpB","tot":"global"},{"t":"set","p":"flowRatePumpC","pt":"msg","to":"flowsynmaxi1.flowRatePumpC","tot":"global"},{"t":"set","p":"flowRatePumpD","pt":"msg","to":"flowsynmaxi1.flowRatePumpD","tot":"global"},{"t":"set","p":"chillerDetected","pt":"msg","to":"flowsynmaxi1.chillerDetected","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":500,"wires":[["1f53da33.c39776","9370c26f.85fce"]]},{"id":"1f53da33.c39776","type":"template","z":"abce1079.e5e39","name":"Add reactor 1 data to table","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT \n    INTO `data_reactor1` \n    \n    (`recording_id`, `time`, \n     `press_system`, `press_flowsyna`, `press_flowsynb`, `press_binaryc`, `press_binaryd`,\n     `temp_reactor1`, `temp_reactor2`, `temp_reactor3`, `temp_reactor4`,\n     `valve_synvalvea`, `valve_synvalveb`, `valve_binaryvalvec`, `valve_binaryvalved`, `valve_cw`,\n     `valve_syninjvalvea`, `valve_syninjvalveb`, `valve_binaryinjvalvec`, `valve_binaryinjvalved`,\n     `flow_pumpa`, `flow_pumpb`, `flow_pumpc`, `flow_pumpd`,\n     `chiller_detected`) \n    \n    VALUES ({{recording_id}}, {{time}},\n            {{pressSystem}}, {{pressFlowSynA}}, {{pressFlowSynB}}, {{pressFlowBinC}}, {{pressFlowBinD}},\n            {{tempReactor1}}, {{tempReactor2}}, {{tempReactor3}}, {{tempReactor4}},\n            {{valveOpenA}}, {{valveOpenB}}, {{valveOpenC}}, {{valveOpenD}}, {{valveOpenCW}},\n            {{valveInjOpenA}}, {{valveInjOpenB}}, {{valveInjOpenC}}, {{valveInjOpenD}},\n            {{flowRatePumpA}}, {{flowRatePumpB}}, {{flowRatePumpC}}, {{flowRatePumpD}},\n            {{chillerDetected}})","output":"str","x":1200,"y":500,"wires":[["e61ce032.f899c","9370c26f.85fce"]]},{"id":"e61ce032.f899c","type":"mysql","z":"abce1079.e5e39","mydb":"1d1505a8.e805ba","name":"MYSQL","x":1420,"y":500,"wires":[["9370c26f.85fce"]]},{"id":"8d793e4.28d35c","type":"inject","z":"abce1079.e5e39","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":110,"y":520,"wires":[["e602b259.0ab68"]]},{"id":"5621d572.7f81ac","type":"inject","z":"abce1079.e5e39","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":170,"y":220,"wires":[["5dbd1e80.4386b"]]},{"id":"218568ff.c47c98","type":"debug","z":"abce1079.e5e39","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1410,"y":300,"wires":[]},{"id":"1261eecc.786f41","type":"catch","z":"abce1079.e5e39","name":"","scope":["45a2463c.9c80c8","896d91e0.122af","e61ce032.f899c"],"uncaught":false,"x":270,"y":660,"wires":[["87fa7b68.b5ced8"]]},{"id":"87fa7b68.b5ced8","type":"debug","z":"abce1079.e5e39","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":480,"y":660,"wires":[]},{"id":"6a81cffe.c99f9","type":"switch","z":"abce1079.e5e39","d":true,"name":"Check if Reactor is connected","property":"connected","propertyType":"global","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":710,"y":460,"wires":[["e0201eee.fefa4","9370c26f.85fce"],["2e26c387.8bdc9c"]]},{"id":"2e26c387.8bdc9c","type":"change","z":"abce1079.e5e39","d":true,"name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"disconnected","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":420,"wires":[["bb37e1fe.26a96"]]},{"id":"fda4ef72.09ddb","type":"debug","z":"abce1079.e5e39","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":510,"y":340,"wires":[]},{"id":"8dac1abc.cf1348","type":"change","z":"abce1079.e5e39","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"fumehood1.recordingRowID","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1760,"y":200,"wires":[["808a76ac.ac7858"]]},{"id":"89d9c446.b796e8","type":"ui_group","name":"Fumehood Record","tab":"b0db63ab.f1acb","order":3,"disp":true,"width":"6","collapse":true},{"id":"b0db63ab.f1acb","type":"ui_tab","name":"Control: Flow Syn Maxi 1","icon":"dashboard","order":2,"disabled":false,"hidden":false}]
