Node-RED_flows/FlowSyn_Reactor_flow.json
[{"id":"4d21e8cd.51b7a8","type":"ui_slider","z":"60e4a180.69c96","d":true,"name":"PumpAFlowRate","label":"Flow Syn Pump A Flow Rate (mL/min)","tooltip":"","group":"f9c5ce26.52f18","order":2,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":0,"max":"50","step":"0.05","x":790,"y":40,"wires":[["b443fcee.a9c07"]]},{"id":"713a5417.a884ac","type":"ui_slider","z":"60e4a180.69c96","d":true,"name":"PumpBFlowRate","label":"Flow Syn Pump B Flow Rate (uL/min)","tooltip":"","group":"f9c5ce26.52f18","order":3,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":0,"max":"50","step":"0.05","x":790,"y":160,"wires":[["7245831e.3bcd4c"]]},{"id":"ff196986.067d28","type":"ui_slider","z":"60e4a180.69c96","d":true,"name":"BinaryPumpCFlowRate","label":"Binary Pump C Flow Rate (uL/min)","tooltip":"","group":"f9c5ce26.52f18","order":4,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":0,"max":"50","step":"0.05","x":790,"y":280,"wires":[["619a0dd8.679854"]]},{"id":"c2ac6c99.5b7fd","type":"ui_slider","z":"60e4a180.69c96","d":true,"name":"BinaryPumpDFlowRate","label":"Flow Binary Pump D Flow Rate (uL/min)","tooltip":"","group":"f9c5ce26.52f18","order":5,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":0,"max":"50","step":"0.05","x":790,"y":400,"wires":[["c478d9af.8a4448"]]},{"id":"1c233644.10382a","type":"change","z":"60e4a180.69c96","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"setValue","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"","fromt":"str","to":"setValue","tot":"msg"},{"t":"set","p":"flowsynmaxi1.setFlowRatePumpA","pt":"global","to":"setValue","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1320,"y":100,"wires":[["722369a9.fed628"]]},{"id":"ebd70e6a.c4a0d","type":"change","z":"60e4a180.69c96","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"setValue","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"","fromt":"str","to":"setValue","tot":"msg"},{"t":"set","p":"flowsynmaxi1.setFlowRatePumpB","pt":"global","to":"setValue","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1320,"y":220,"wires":[["69a77f60.256ae"]]},{"id":"eff88e30.29a32","type":"change","z":"60e4a180.69c96","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"setValue","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"","fromt":"str","to":"setValue","tot":"msg"},{"t":"set","p":"flowsynmaxi1.setFlowRatePumpC","pt":"global","to":"setValue","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1300,"y":340,"wires":[["54d6ca9f.50cc94"]]},{"id":"1a1b383d.4f5958","type":"change","z":"60e4a180.69c96","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"setValue","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"","fromt":"str","to":"setValue","tot":"msg"},{"t":"set","p":"flowsynmaxi1.setFlowRatePumpD","pt":"global","to":"setValue","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1300,"y":460,"wires":[["f99e3189.e5979"]]},{"id":"a071e2ab.83eac","type":"tcp request","z":"60e4a180.69c96","server":"","port":"","out":"char","splitc":"\\n","name":"toFlowSynMaxiTCPCommand","x":2610,"y":1360,"wires":[["9677987e.98f338"]]},{"id":"1ae6cd41.fdaec3","type":"ui_slider","z":"60e4a180.69c96","d":true,"name":"Reactor1Temp","label":"Reactor 1 Temp.","tooltip":"","group":"5abf5184.1ba7f","order":1,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":0,"max":"90","step":"0.1","x":780,"y":560,"wires":[["580f5704.769c98"]]},{"id":"9702e65b.942708","type":"ui_slider","z":"60e4a180.69c96","d":true,"name":"Reactor2Temp","label":"Reactor 2 Temp.","tooltip":"","group":"5abf5184.1ba7f","order":4,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":0,"max":"90","step":"0.1","x":780,"y":640,"wires":[["5ef10488.0a43fc"]]},{"id":"ad86dc41.17dc3","type":"ui_slider","z":"60e4a180.69c96","d":true,"name":"Reactor3Temp","label":"Reactor 3 Temp.","tooltip":"","group":"5abf5184.1ba7f","order":6,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":0,"max":"90","step":"0.1","x":780,"y":720,"wires":[["e0840d.3cc93bf"]]},{"id":"acc5052c.d57fa8","type":"ui_slider","z":"60e4a180.69c96","d":true,"name":"Reactor4Temp","label":"Reactor 4 Temp.","tooltip":"","group":"5abf5184.1ba7f","order":8,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":0,"max":"90","step":"0.1","x":780,"y":800,"wires":[["9984918f.90f78"]]},{"id":"9a1b5337.16fa5","type":"ui_switch","z":"60e4a180.69c96","name":"FlowSynValveA","label":"FlowSyn Valve A (ON = OPEN)","tooltip":"","group":"e5633a14.a5ee38","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":780,"y":860,"wires":[["351b270c.2b88c8"]]},{"id":"99039b60.22a878","type":"ui_switch","z":"60e4a180.69c96","name":"FlowSynValveB","label":"FlowSyn Valve B (ON = OPEN)","tooltip":"","group":"e5633a14.a5ee38","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":780,"y":960,"wires":[["31f2f0.a221dd1"]]},{"id":"5ca256c0.189c98","type":"ui_switch","z":"60e4a180.69c96","name":"FlowBinaryValveC","label":"FlowBinary Valve C (ON = OPEN)","tooltip":"","group":"e5633a14.a5ee38","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":790,"y":1060,"wires":[["3d8a1a1e.174ce6"]]},{"id":"63c5254d.654fac","type":"ui_switch","z":"60e4a180.69c96","name":"FlowBinaryValveD","label":"FlowBinary Valve D (ON = OPEN)","tooltip":"","group":"e5633a14.a5ee38","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":790,"y":1160,"wires":[["a73997da.b76948"]]},{"id":"d36e0bd8.3f60f8","type":"change","z":"60e4a180.69c96","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"},{"t":"set","p":"flowsynmaxi1.setValveOpenA","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1320,"y":860,"wires":[["709ec3bc.3c3d9c"]]},{"id":"351b270c.2b88c8","type":"switch","z":"60e4a180.69c96","name":"CheckFlowSynValveASwitch","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1060,"y":860,"wires":[["d36e0bd8.3f60f8"],["c8fd345d.47da38"]]},{"id":"c8fd345d.47da38","type":"change","z":"60e4a180.69c96","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"},{"t":"set","p":"flowsynmaxi1.setValveOpenA","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1320,"y":900,"wires":[["4da57189.fde8d"]]},{"id":"bf1dd486.385448","type":"change","z":"60e4a180.69c96","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"},{"t":"set","p":"flowsynmaxi1.setValveOpenB","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1320,"y":960,"wires":[["7858c48b.4e779c"]]},{"id":"31f2f0.a221dd1","type":"switch","z":"60e4a180.69c96","name":"CheckFlowSynValveBSwitch","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1060,"y":960,"wires":[["bf1dd486.385448"],["9e602842.fa4348"]]},{"id":"9e602842.fa4348","type":"change","z":"60e4a180.69c96","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"},{"t":"set","p":"flowsynmaxi1.setValveOpenB","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1320,"y":1000,"wires":[["6d8960b1.7c154"]]},{"id":"ad404066.766b4","type":"change","z":"60e4a180.69c96","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"},{"t":"set","p":"flowsynmaxi1.setValveOpenC","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1320,"y":1060,"wires":[["fbc197dc.24b088"]]},{"id":"3d8a1a1e.174ce6","type":"switch","z":"60e4a180.69c96","name":"CheckBinaryValveCSwitch","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1060,"y":1060,"wires":[["ad404066.766b4"],["39692b54.0d0954"]]},{"id":"39692b54.0d0954","type":"change","z":"60e4a180.69c96","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"},{"t":"set","p":"flowsynmaxi1.setValveOpenC","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1320,"y":1100,"wires":[["3f40a552.d0f19a"]]},{"id":"737fc8ef.c677e8","type":"change","z":"60e4a180.69c96","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"},{"t":"set","p":"flowsynmaxi1.setValveOpenD","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1320,"y":1160,"wires":[["c0e39409.04a5f8"]]},{"id":"a73997da.b76948","type":"switch","z":"60e4a180.69c96","name":"CheckBinaryValveDSwitch","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1060,"y":1160,"wires":[["737fc8ef.c677e8"],["97f56287.ceba1"]]},{"id":"97f56287.ceba1","type":"change","z":"60e4a180.69c96","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"},{"t":"set","p":"flowsynmaxi1.setValveOpenD","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1320,"y":1200,"wires":[["7d374f05.aacc2"]]},{"id":"253c402c.bc1e2","type":"ui_switch","z":"60e4a180.69c96","name":"FlowCWValve","label":"FlowCW Valve (ON = Collect)","tooltip":"","group":"e5633a14.a5ee38","order":9,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":780,"y":1260,"wires":[["8f44f126.1cc8c"]]},{"id":"38aeb915.96d6e6","type":"change","z":"60e4a180.69c96","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"},{"t":"set","p":"flowsynmaxi1.setValveOpenCW","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1320,"y":1260,"wires":[["16541757.ead139"]]},{"id":"8f44f126.1cc8c","type":"switch","z":"60e4a180.69c96","name":"CheckCWValveSwitch","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1040,"y":1260,"wires":[["38aeb915.96d6e6"],["a531b026.1215d"]]},{"id":"a531b026.1215d","type":"change","z":"60e4a180.69c96","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"},{"t":"set","p":"flowsynmaxi1.setValveOpenCW","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1320,"y":1300,"wires":[["a48cc5a0.3ac428"]]},{"id":"d19a03f8.0d15c","type":"ui_switch","z":"60e4a180.69c96","name":"FlowSynInjValveA","label":"FlowSyn Inj Valve A (ON = OPEN)","tooltip":"","group":"e5633a14.a5ee38","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":790,"y":1360,"wires":[["3bb6fe9.1e6ff02"]]},{"id":"f8525119.fb5f","type":"ui_switch","z":"60e4a180.69c96","name":"FlowSynInjValveB","label":"FlowSyn Inj Valve B (ON = OPEN)","tooltip":"","group":"e5633a14.a5ee38","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":790,"y":1460,"wires":[["31328eeb.541c82"]]},{"id":"605ce60.950b01c","type":"ui_switch","z":"60e4a180.69c96","name":"FlowBinaryInjValveC","label":"FlowBinary Inj Valve C (ON = OPEN)","tooltip":"","group":"e5633a14.a5ee38","order":7,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":800,"y":1560,"wires":[["29ff6aef.a59036"]]},{"id":"ce42d260.5c214","type":"ui_switch","z":"60e4a180.69c96","name":"FlowBinaryInjValveD","label":"FlowBinary Inj Valve D (ON = OPEN)","tooltip":"","group":"e5633a14.a5ee38","order":8,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":800,"y":1660,"wires":[["ee12c8f7.8bd498"]]},{"id":"39e8d3e4.256ebc","type":"change","z":"60e4a180.69c96","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"},{"t":"set","p":"flowsynmaxi1.setInjValveOpenA","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1320,"y":1360,"wires":[["f1f24a86.638fc8"]]},{"id":"3bb6fe9.1e6ff02","type":"switch","z":"60e4a180.69c96","name":"CheckFlowSynInjValveASwitch","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1070,"y":1360,"wires":[["39e8d3e4.256ebc"],["23ffba34.343666"]]},{"id":"23ffba34.343666","type":"change","z":"60e4a180.69c96","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"},{"t":"set","p":"flowsynmaxi1.setInjValveOpenA","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1320,"y":1400,"wires":[["ddc46311.97c8b"]]},{"id":"17e60070.2da53","type":"change","z":"60e4a180.69c96","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"},{"t":"set","p":"flowsynmaxi1.setInjValveOpenB","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1320,"y":1460,"wires":[["69415a8b.858904"]]},{"id":"31328eeb.541c82","type":"switch","z":"60e4a180.69c96","name":"CheckFlowSynInjValveBSwitch","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1070,"y":1460,"wires":[["17e60070.2da53"],["546e76ae.49e248"]]},{"id":"546e76ae.49e248","type":"change","z":"60e4a180.69c96","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"},{"t":"set","p":"flowsynmaxi1.setInjValveOpenB","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1320,"y":1500,"wires":[["4ff05bf7.9a8004"]]},{"id":"af6f4e0.49854b","type":"change","z":"60e4a180.69c96","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"},{"t":"set","p":"flowsynmaxi1.setInjValveOpenC","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1320,"y":1560,"wires":[["ee49c992.036d78"]]},{"id":"29ff6aef.a59036","type":"switch","z":"60e4a180.69c96","name":"CheckBinaryInjValveCSwitch","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1060,"y":1560,"wires":[["af6f4e0.49854b"],["4ee5f4dc.8a10cc"]]},{"id":"4ee5f4dc.8a10cc","type":"change","z":"60e4a180.69c96","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"},{"t":"set","p":"flowsynmaxi1.setInjValveOpenC","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1320,"y":1600,"wires":[["bc04783b.bf70f8"]]},{"id":"db4b8578.c70618","type":"change","z":"60e4a180.69c96","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"},{"t":"set","p":"flowsynmaxi1.setInjValveOpenD","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1320,"y":1660,"wires":[["66619e68.f1abf"]]},{"id":"ee12c8f7.8bd498","type":"switch","z":"60e4a180.69c96","name":"CheckBinaryInjValveDSwitch","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1060,"y":1660,"wires":[["db4b8578.c70618"],["9b8ed35e.1379b"]]},{"id":"9b8ed35e.1379b","type":"change","z":"60e4a180.69c96","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"},{"t":"set","p":"flowsynmaxi1.setInjValveOpenD","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1320,"y":1700,"wires":[["b70d1adb.1a1628"]]},{"id":"5da09c51.1bd984","type":"ui_switch","z":"60e4a180.69c96","name":"Heater","label":"Heater","tooltip":"","group":"8af4ac7b.4b64f","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":750,"y":1760,"wires":[["c156070f.44a508"]]},{"id":"1b7445bb.995f1a","type":"change","z":"60e4a180.69c96","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"},{"t":"set","p":"flowsynmaxi1.setHeaterON","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1320,"y":1760,"wires":[["fb085254.ce74a"]]},{"id":"c156070f.44a508","type":"switch","z":"60e4a180.69c96","name":"CheckHeaterSwitch","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1030,"y":1760,"wires":[["1b7445bb.995f1a"],["e1fdde77.dde5e"]]},{"id":"e1fdde77.dde5e","type":"change","z":"60e4a180.69c96","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"},{"t":"set","p":"flowsynmaxi1.setHeaterON","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1320,"y":1800,"wires":[["927067bd.57a1a8"]]},{"id":"dc6e3bf9.af7798","type":"tcp request","z":"60e4a180.69c96","server":"","port":"","out":"char","splitc":"\\n","name":"reqDataFromDevice","x":1080,"y":1960,"wires":[["8c1be5ef.b965b8","87871100.8f15e"]]},{"id":"a7d72334.e1d96","type":"inject","z":"60e4a180.69c96","name":"TriggerReadingsTempPress","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":820,"y":1880,"wires":[["4a9a6dc.9ea5a94"]]},{"id":"8c1be5ef.b965b8","type":"function","z":"60e4a180.69c96","name":"RespToString","func":"var tempString = msg.payload;\nmsg.payload = tempString.toString();\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1340,"y":2120,"wires":[["12d8baef.aeda15"]]},{"id":"67bc7099.798a9","type":"ui_gauge","z":"60e4a180.69c96","name":"FlowSynMaxi1SystemPressure","group":"7327ab4f.36a614","order":3,"width":"0","height":"0","gtype":"gage","title":"Flow Syn Maxi 1 System Pressure","label":"bar","format":"{{value}}","min":0,"max":"45","colors":["#00b500","#e6e600","#ca3838"],"seg1":"20","seg2":"30","x":2110,"y":1840,"wires":[]},{"id":"a335e291.80ce7","type":"tcp request","z":"60e4a180.69c96","server":"","port":"","out":"char","splitc":"\\n","name":"reqDataFromDevice","x":1080,"y":3200,"wires":[["d1b4258d.49bc68"]]},{"id":"b40c74e1.56fc88","type":"inject","z":"60e4a180.69c96","name":"TriggerReadingsValvesRatesChillers","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":850,"y":2980,"wires":[["f83b52dd.cd765"]]},{"id":"d1b4258d.49bc68","type":"function","z":"60e4a180.69c96","name":"RespToString","func":"var tempString = msg.payload;\nmsg.payload = tempString.toString();\nreturn msg;","outputs":1,"noerr":0,"x":1300,"y":3200,"wires":[["4758d245.2a7b5c"]]},{"id":"12d8baef.aeda15","type":"function","z":"60e4a180.69c96","name":"ExtractTempPressure","func":"var r = ' ';\nvar json = {payload: msg.payload};\nvar output = json.payload.split(' ');\nvar systemPressure = output[1];\nvar flowSynAPressure = output[2];\nvar flowSynBPressure = output[3];\nvar flowBianryCPressure = output[4];\nvar flowBinaryDPressure = output[5];\nvar reactor1Temperature = output[6];\nvar reactor2Temperature = output[7];\nvar reactor3Temperature = output[8];\nvar reactor4Temperature = output[9];\n\nvar msg1 = {payload: systemPressure, topic: \"System Pressure\"};\nvar msg2 = {payload: flowSynAPressure, topic: \"Syn Flow A Pressure\"};\nvar msg3 = {payload: flowSynBPressure, topic: \"Syn Flow B Pressure\"};\nvar msg4 = {payload: flowBianryCPressure, topic: \"Binary C Pressure\"};\nvar msg5 = {payload: flowBinaryDPressure, topic: \"Binary D Pressure\"};\nvar msg6 = {payload: reactor1Temperature, topic: \"Reactor 1 Temperature\"};\nvar msg7 = {payload: reactor2Temperature, topic: \"Reactor 2 Temperature\"};\nvar msg8 = {payload: reactor3Temperature, topic: \"Reactor 3 Temperature\"};\nvar msg9 = {payload: reactor4Temperature, topic: \"Reactor 4 Temperature\"};\n\nreturn [[msg1], [msg2], [msg3], [msg4], [msg5],\n       [msg6], [msg7], [msg8], [msg9]];","outputs":9,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1520,"y":1960,"wires":[["67bc7099.798a9","7ddbe14d.7aa72","57aba41e.476fdc","17570ff4.2854"],["1160cde1.0a3fd2","f22eb4b9.74d3f8","17570ff4.2854"],["9b17389c.149df8","d7068ee5.3092e","17570ff4.2854"],["3eb2a621.3aceda","f0684baa.905e58","17570ff4.2854"],["9659b5a.7748d48","95084165.3827","17570ff4.2854"],["5ed9e4cd.2ba44c","c17c39db.1cce38","9ca2a9ab.628ac8"],["f39032d8.77b02","b8018316.23213","9ca2a9ab.628ac8"],["b8a6dfe6.b5f0b","37dbfe6f.c169c2","9ca2a9ab.628ac8"],["98d23e2f.c5dde","ad629205.28a93","9ca2a9ab.628ac8"]]},{"id":"b443fcee.a9c07","type":"function","z":"60e4a180.69c96","name":"ConvertToMicroLitersPerMinute","func":"var valStr = msg.payload;\nvar valFloat = parseFloat(valStr);\nvar result = valFloat * 1000;\nmsg.payload = result.toString(16);  // Value in HEX\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1070,"y":100,"wires":[["1c233644.10382a"]]},{"id":"722369a9.fed628","type":"function","z":"60e4a180.69c96","name":"ConvertToBuffer","func":"msg.payload = Buffer.from(msg.payload +\"\\r\\n\");\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1520,"y":100,"wires":[["73ae85a7.2d242c"]]},{"id":"69a77f60.256ae","type":"function","z":"60e4a180.69c96","name":"ConvertToBuffer","func":"msg.payload = Buffer.from(msg.payload +\"\\r\\n\");\nreturn msg;\n","outputs":1,"noerr":0,"x":1520,"y":220,"wires":[["73ae85a7.2d242c"]]},{"id":"54d6ca9f.50cc94","type":"function","z":"60e4a180.69c96","name":"ConvertToBuffer","func":"msg.payload = Buffer.from(msg.payload +\"\\r\\n\");\nreturn msg;\n","outputs":1,"noerr":0,"x":1500,"y":340,"wires":[["73ae85a7.2d242c"]]},{"id":"f99e3189.e5979","type":"function","z":"60e4a180.69c96","name":"ConvertToBuffer","func":"msg.payload = Buffer.from(msg.payload +\"\\r\\n\");\nreturn msg;\n","outputs":1,"noerr":0,"x":1500,"y":460,"wires":[["73ae85a7.2d242c"]]},{"id":"709ec3bc.3c3d9c","type":"function","z":"60e4a180.69c96","name":"ConvertToBuffer","func":"msg.payload = Buffer.from(msg.payload +\"\\r\\n\");\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1520,"y":860,"wires":[["73ae85a7.2d242c"]]},{"id":"4da57189.fde8d","type":"function","z":"60e4a180.69c96","name":"ConvertToBuffer","func":"msg.payload = Buffer.from(msg.payload +\"\\r\\n\");\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1520,"y":900,"wires":[["73ae85a7.2d242c"]]},{"id":"7858c48b.4e779c","type":"function","z":"60e4a180.69c96","name":"ConvertToBuffer","func":"msg.payload = Buffer.from(msg.payload +\"\\r\\n\");\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1520,"y":960,"wires":[["73ae85a7.2d242c"]]},{"id":"6d8960b1.7c154","type":"function","z":"60e4a180.69c96","name":"ConvertToBuffer","func":"msg.payload = Buffer.from(msg.payload +\"\\r\\n\");\nreturn msg;\n","outputs":1,"noerr":0,"x":1520,"y":1000,"wires":[["73ae85a7.2d242c"]]},{"id":"fbc197dc.24b088","type":"function","z":"60e4a180.69c96","name":"ConvertToBuffer","func":"msg.payload = Buffer.from(msg.payload +\"\\r\\n\");\nreturn msg;\n","outputs":1,"noerr":0,"x":1520,"y":1060,"wires":[["73ae85a7.2d242c"]]},{"id":"3f40a552.d0f19a","type":"function","z":"60e4a180.69c96","name":"ConvertToBuffer","func":"msg.payload = Buffer.from(msg.payload +\"\\r\\n\");\nreturn msg;\n","outputs":1,"noerr":0,"x":1520,"y":1100,"wires":[["73ae85a7.2d242c"]]},{"id":"c0e39409.04a5f8","type":"function","z":"60e4a180.69c96","name":"ConvertToBuffer","func":"msg.payload = Buffer.from(msg.payload +\"\\r\\n\");\nreturn msg;\n","outputs":1,"noerr":0,"x":1520,"y":1160,"wires":[["73ae85a7.2d242c"]]},{"id":"7d374f05.aacc2","type":"function","z":"60e4a180.69c96","name":"ConvertToBuffer","func":"msg.payload = Buffer.from(msg.payload +\"\\r\\n\");\nreturn msg;\n","outputs":1,"noerr":0,"x":1520,"y":1200,"wires":[["73ae85a7.2d242c"]]},{"id":"16541757.ead139","type":"function","z":"60e4a180.69c96","name":"ConvertToBuffer","func":"msg.payload = Buffer.from(msg.payload +\"\\r\\n\");\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1520,"y":1260,"wires":[["73ae85a7.2d242c"]]},{"id":"a48cc5a0.3ac428","type":"function","z":"60e4a180.69c96","name":"ConvertToBuffer","func":"msg.payload = Buffer.from(msg.payload +\"\\r\\n\");\nreturn msg;\n","outputs":1,"noerr":0,"x":1520,"y":1300,"wires":[["73ae85a7.2d242c"]]},{"id":"f1f24a86.638fc8","type":"function","z":"60e4a180.69c96","name":"ConvertToBuffer","func":"msg.payload = Buffer.from(msg.payload +\"\\r\\n\");\nreturn msg;\n","outputs":1,"noerr":0,"x":1520,"y":1360,"wires":[["73ae85a7.2d242c"]]},{"id":"ddc46311.97c8b","type":"function","z":"60e4a180.69c96","name":"ConvertToBuffer","func":"msg.payload = Buffer.from(msg.payload +\"\\r\\n\");\nreturn msg;\n","outputs":1,"noerr":0,"x":1520,"y":1400,"wires":[["73ae85a7.2d242c"]]},{"id":"69415a8b.858904","type":"function","z":"60e4a180.69c96","name":"ConvertToBuffer","func":"msg.payload = Buffer.from(msg.payload +\"\\r\\n\");\nreturn msg;\n","outputs":1,"noerr":0,"x":1520,"y":1460,"wires":[["73ae85a7.2d242c"]]},{"id":"4ff05bf7.9a8004","type":"function","z":"60e4a180.69c96","name":"ConvertToBuffer","func":"msg.payload = Buffer.from(msg.payload +\"\\r\\n\");\nreturn msg;\n","outputs":1,"noerr":0,"x":1520,"y":1500,"wires":[["73ae85a7.2d242c"]]},{"id":"ee49c992.036d78","type":"function","z":"60e4a180.69c96","name":"ConvertToBuffer","func":"msg.payload = Buffer.from(msg.payload +\"\\r\\n\");\nreturn msg;\n","outputs":1,"noerr":0,"x":1520,"y":1560,"wires":[["73ae85a7.2d242c"]]},{"id":"bc04783b.bf70f8","type":"function","z":"60e4a180.69c96","name":"ConvertToBuffer","func":"msg.payload = Buffer.from(msg.payload +\"\\r\\n\");\nreturn msg;\n","outputs":1,"noerr":0,"x":1520,"y":1600,"wires":[["73ae85a7.2d242c"]]},{"id":"66619e68.f1abf","type":"function","z":"60e4a180.69c96","name":"ConvertToBuffer","func":"msg.payload = Buffer.from(msg.payload +\"\\r\\n\");\nreturn msg;\n","outputs":1,"noerr":0,"x":1520,"y":1660,"wires":[["73ae85a7.2d242c"]]},{"id":"b70d1adb.1a1628","type":"function","z":"60e4a180.69c96","name":"ConvertToBuffer","func":"msg.payload = Buffer.from(msg.payload +\"\\r\\n\");\nreturn msg;\n","outputs":1,"noerr":0,"x":1520,"y":1700,"wires":[["73ae85a7.2d242c"]]},{"id":"fb085254.ce74a","type":"function","z":"60e4a180.69c96","name":"ConvertToBuffer","func":"msg.payload = Buffer.from(msg.payload +\"\\r\\n\");\nreturn msg;\n","outputs":1,"noerr":0,"x":1520,"y":1760,"wires":[["73ae85a7.2d242c"]]},{"id":"927067bd.57a1a8","type":"function","z":"60e4a180.69c96","name":"ConvertToBuffer","func":"msg.payload = Buffer.from(msg.payload +\"\\r\\n\");\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1520,"y":1800,"wires":[["73ae85a7.2d242c"]]},{"id":"4a9a6dc.9ea5a94","type":"function","z":"60e4a180.69c96","name":"ConvertToBuffer","func":"msg.payload = Buffer.from(msg.payload +\"\\r\\n\");\nreturn msg;\n","outputs":1,"noerr":0,"x":1060,"y":1880,"wires":[["e4ba68c1.d5e368"]]},{"id":"f83b52dd.cd765","type":"function","z":"60e4a180.69c96","name":"ConvertToBuffer","func":"msg.payload = Buffer.from(msg.payload +\"\\r\\n\");\nreturn msg;\n","outputs":1,"noerr":0,"x":1060,"y":3060,"wires":[["cac700fe.6ead"]]},{"id":"7245831e.3bcd4c","type":"function","z":"60e4a180.69c96","name":"ConvertToMicroLitersPerMinute","func":"var valStr = msg.payload;\nvar valFloat = parseFloat(valStr);\nvar result = valFloat * 1000;\nmsg.payload = result.toString(16);  // Value in HEX\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1070,"y":220,"wires":[["ebd70e6a.c4a0d"]]},{"id":"619a0dd8.679854","type":"function","z":"60e4a180.69c96","name":"ConvertToMicroLitersPerMinute","func":"var valStr = msg.payload;\nvar valFloat = parseFloat(valStr);\nvar result = valFloat * 1000;\nmsg.payload = result.toString(16);  // Value in HEX\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1050,"y":340,"wires":[["eff88e30.29a32"]]},{"id":"c478d9af.8a4448","type":"function","z":"60e4a180.69c96","name":"ConvertToMicroLitersPerMinute","func":"var valStr = msg.payload;\nvar valFloat = parseFloat(valStr);\nvar result = valFloat * 1000;\nmsg.payload = result.toString(16);  // Value in HEX\nreturn msg;\n","outputs":1,"noerr":0,"x":1050,"y":460,"wires":[["1a1b383d.4f5958"]]},{"id":"73ae85a7.2d242c","type":"change","z":"60e4a180.69c96","name":"Add Host Settings","rules":[{"t":"set","p":"host","pt":"msg","to":"flowsynmaxi1.ipAddr","tot":"global"},{"t":"set","p":"port","pt":"msg","to":"flowsynmaxi1.port","tot":"global"},{"t":"set","p":"cmdToSend","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2350,"y":1360,"wires":[["a071e2ab.83eac"]]},{"id":"e4ba68c1.d5e368","type":"change","z":"60e4a180.69c96","name":"Add Host Settings","rules":[{"t":"set","p":"host","pt":"msg","to":"flowsynmaxi1.ipAddr","tot":"global"},{"t":"set","p":"port","pt":"msg","to":"flowsynmaxi1.port","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":1290,"y":1880,"wires":[["dc6e3bf9.af7798"]]},{"id":"cac700fe.6ead","type":"change","z":"60e4a180.69c96","name":"Add Host Settings","rules":[{"t":"set","p":"host","pt":"msg","to":"flowsynmaxi1.ipAddr","tot":"global"},{"t":"set","p":"port","pt":"msg","to":"flowsynmaxi1.port","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":1290,"y":3060,"wires":[["a335e291.80ce7"]]},{"id":"1160cde1.0a3fd2","type":"ui_gauge","z":"60e4a180.69c96","name":"FlowSynMaxi1FlowSynAPressure","group":"7327ab4f.36a614","order":4,"width":0,"height":0,"gtype":"gage","title":"Flow Syn Maxi 1 Flow Syn A Pressure","label":"bar","format":"{{value}}","min":0,"max":"45","colors":["#00b500","#e6e600","#ca3838"],"seg1":"20","seg2":"30","x":2120,"y":1920,"wires":[]},{"id":"7ddbe14d.7aa72","type":"ui_chart","z":"60e4a180.69c96","d":true,"name":"System Pressure","group":"7327ab4f.36a614","order":2,"width":0,"height":0,"label":"System Pressure","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"45","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":2070,"y":1760,"wires":[[]]},{"id":"26828c95.4caa64","type":"ui_chart","z":"60e4a180.69c96","name":"All Pressures","group":"7327ab4f.36a614","order":1,"width":0,"height":0,"label":"Syn Flow & Binary Pump Pressures","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"45","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":2210,"y":1800,"wires":[[]]},{"id":"9b17389c.149df8","type":"ui_gauge","z":"60e4a180.69c96","name":"FlowSynMaxi1FlowSynBPressure","group":"7327ab4f.36a614","order":5,"width":0,"height":0,"gtype":"gage","title":"Flow Syn Maxi 1 Flow Syn B Pressure","label":"bar","format":"{{value}}","min":0,"max":"45","colors":["#00b500","#e6e600","#ca3838"],"seg1":"20","seg2":"30","x":2120,"y":2000,"wires":[]},{"id":"3eb2a621.3aceda","type":"ui_gauge","z":"60e4a180.69c96","name":"FlowSynMaxi1FlowBinaryCPressure","group":"7327ab4f.36a614","order":6,"width":0,"height":0,"gtype":"gage","title":"Flow Syn Maxi 1 Flow Binary C Pressure","label":"bar","format":"{{value}}","min":0,"max":"45","colors":["#00b500","#e6e600","#ca3838"],"seg1":"20","seg2":"30","x":2130,"y":2080,"wires":[]},{"id":"9659b5a.7748d48","type":"ui_gauge","z":"60e4a180.69c96","name":"FlowSynMaxi1FlowBinaryDPressure","group":"7327ab4f.36a614","order":7,"width":0,"height":0,"gtype":"gage","title":"Flow Syn Maxi 1 Flow Binary D Pressure","label":"bar","format":"{{value}}","min":0,"max":"45","colors":["#00b500","#e6e600","#ca3838"],"seg1":"20","seg2":"30","x":2130,"y":2160,"wires":[]},{"id":"57aba41e.476fdc","type":"change","z":"60e4a180.69c96","name":"Store Result","rules":[{"t":"set","p":"flowsynmaxi1.pressureSystem","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2050,"y":1880,"wires":[[]]},{"id":"f22eb4b9.74d3f8","type":"change","z":"60e4a180.69c96","name":"Store Result","rules":[{"t":"set","p":"flowsynmaxi1.pressureFlowSynA","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2050,"y":1960,"wires":[[]]},{"id":"d7068ee5.3092e","type":"change","z":"60e4a180.69c96","name":"Store Result","rules":[{"t":"set","p":"flowsynmaxi1.pressureFlowSynB","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2050,"y":2040,"wires":[[]]},{"id":"f0684baa.905e58","type":"change","z":"60e4a180.69c96","name":"Store Result","rules":[{"t":"set","p":"flowsynmaxi1.pressureBinaryC","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2050,"y":2120,"wires":[[]]},{"id":"95084165.3827","type":"change","z":"60e4a180.69c96","name":"Store Result","rules":[{"t":"set","p":"flowsynmaxi1.pressureBinaryD","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2050,"y":2200,"wires":[[]]},{"id":"4758d245.2a7b5c","type":"function","z":"60e4a180.69c96","name":"ExtractValvesFlows","func":"// * Vs Vi F1 F2 F3 F4 C *\nvar r = ' ';\nvar json = {payload: msg.payload};\nvar output = json.payload.split(' ');\nvar Vs = output[1];\nvar Vi = output[2];\nvar F1 = output[3];\nvar F2 = output[4];\nvar F3 = output[5];\nvar F4 = output[6];\nvar C  = output[7];\n\nvar msg1 = {};\nif ((Vs & 0x01) == 0x01) {\n    msg1 = {payload: true}    \n} else {\n    msg1 = {payload: false} \n}\nvar msg2 = {};\nif ((Vs & 0x02) == 0x02) {\n    msg2 = {payload: true}    \n} else {\n    msg2 = {payload: false} \n}\nvar msg3 = {};\nif ((Vs & 0x04) == 0x04) {\n    msg3 = {payload: true}    \n} else {\n    msg3 = {payload: false} \n}\nvar msg4 = {};\nif ((Vs & 0x08) == 0x08) {\n    msg4 = {payload: true}    \n} else {\n    msg4 = {payload: false} \n}\nvar msg5 = {};\nif ((Vs & 0x10) == 0x10) {\n    msg5 = {payload: true}    \n} else {\n    msg5 = {payload: false} \n}\nvar msg6 = {};\nif ((Vi & 0x01) == 0x01) {\n    msg6 = {payload: true}    \n} else {\n    msg6 = {payload: false} \n}\nvar msg7 = {};\nif ((Vi & 0x02) == 0x02) {\n    msg7 = {payload: true}    \n} else {\n    msg7 = {payload: false} \n}\nvar msg8 = {};\nif ((Vi & 0x04) == 0x04) {\n    msg8 = {payload: true}    \n} else {\n    msg8 = {payload: false} \n}\nvar msg9 = {};\nif ((Vi & 0x08) == 0x08) {\n    msg9 = {payload: true}    \n} else {\n    msg9 = {payload: false} \n}\nvar msg10 = {payload: F1, topic: \"Pump A Flow Rate\"};\nvar msg11 = {payload: F2, topic: \"Pump B Flow Rate\"};\nvar msg12 = {payload: F3, topic: \"Pump C Flow Rate\"};\nvar msg13 = {payload: F4, topic: \"Pump D Flow Rate\"};\nvar msg14 = {};\nif (C == '1') {\n    msg14 = {payload: true}    \n} else {\n    msg14 = {payload: false} \n}\n\nreturn [[msg1], [msg2], [msg3], [msg4], [msg5],\n       [msg6], [msg7], [msg8], [msg9], [msg10],\n       [msg11], [msg12], [msg13], [msg14]];","outputs":14,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1510,"y":3200,"wires":[["7c8dbac.287a844","57f2956d.3dbb3c","b07e7afe.e1e7e8"],["2b3c10d8.2d36d","e2b19e17.a6dee","dd6a6313.dbe9f"],["5f3f84e8.37744c","b046840a.5b6548","e6a75483.dd1b58"],["be87b795.49aba8","22bd2ce1.718224","b211b7c9.df5408"],["4a5629b2.113a28","72caee34.d0f31","3f592467.97557c"],["1a6582c1.85713d","f8b7212c.e86fb","8191a3de.52ef7"],["90bd092c.0e5888","77e3da2a.f8ef74","6a914b5.9f4b2b4"],["f4ab26fc.f32588","3393d17a.5b47be","770d11e0.f4bd1"],["9a6ca3fd.5b0f9","49e35f3e.aa96e","59956651.092228"],["91570f4a.3e1c1","3baac210.02d82e","1f17039f.5e3c6c","3b2cf8d2.aa82c8"],["53c4a6aa.e26128","4706b113.5422b","1f17039f.5e3c6c","4abef220.0d8c0c"],["bdbafda6.5877d","b5149504.11ede8","1f17039f.5e3c6c","3b32ae0.e249a52"],["73f1bf3b.ab348","653d572e.f8d6d8","1f17039f.5e3c6c","e5f6535a.1167e"],["3d75752f.d464ba","3e44c8.f70dfb38"]],"outputLabels":["Flow Syn Valve A","Flow Syn Valve B","Binary Valve C","Binary Valve D","C/W Valve","Flow Syn Inj Valve A","Flow Syn Inj Valve B","Binary Inj Valve C","Binary Inj Valve D","Pump A Flow Rate","Pump B Flow Rate","Pump C Flow Rate","Pump D Flow Rate","Chiller Detected"]},{"id":"7c8dbac.287a844","type":"ui_led","z":"60e4a180.69c96","d":true,"order":6,"group":"f82abfd2.c973f","width":0,"height":0,"label":"Flow Syn Valve A","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"Flow Syn Valve A","x":2070,"y":3040,"wires":[]},{"id":"2b3c10d8.2d36d","type":"ui_led","z":"60e4a180.69c96","d":true,"order":7,"group":"f82abfd2.c973f","width":0,"height":0,"label":"Flow Syn Valve B","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"Flow Syn Valve B","x":2070,"y":3120,"wires":[]},{"id":"5f3f84e8.37744c","type":"ui_led","z":"60e4a180.69c96","d":true,"order":8,"group":"f82abfd2.c973f","width":0,"height":0,"label":"Binary Valve C","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"Binary Valve C","x":2060,"y":3200,"wires":[]},{"id":"be87b795.49aba8","type":"ui_led","z":"60e4a180.69c96","d":true,"order":9,"group":"f82abfd2.c973f","width":0,"height":0,"label":"Binary Valve D","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"Binary Valve D","x":2060,"y":3280,"wires":[]},{"id":"57f2956d.3dbb3c","type":"change","z":"60e4a180.69c96","name":"Store Result","rules":[{"t":"set","p":"flowsynmaxi1.valveOpenA","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2050,"y":3080,"wires":[[]]},{"id":"e2b19e17.a6dee","type":"change","z":"60e4a180.69c96","name":"Store Result","rules":[{"t":"set","p":"flowsynmaxi1.valveOpenB","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2050,"y":3160,"wires":[[]]},{"id":"b046840a.5b6548","type":"change","z":"60e4a180.69c96","name":"Store Result","rules":[{"t":"set","p":"flowsynmaxi1.valveOpenC","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2050,"y":3240,"wires":[[]]},{"id":"22bd2ce1.718224","type":"change","z":"60e4a180.69c96","name":"Store Result","rules":[{"t":"set","p":"flowsynmaxi1.valveOpenD","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2050,"y":3320,"wires":[[]]},{"id":"4a5629b2.113a28","type":"ui_led","z":"60e4a180.69c96","d":true,"order":14,"group":"f82abfd2.c973f","width":0,"height":0,"label":"C/W Valve","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"C/W Valve","x":2050,"y":3360,"wires":[]},{"id":"72caee34.d0f31","type":"change","z":"60e4a180.69c96","name":"Store Result","rules":[{"t":"set","p":"flowsynmaxi1.valveOpenCW","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2050,"y":3400,"wires":[[]]},{"id":"5ed9e4cd.2ba44c","type":"ui_gauge","z":"60e4a180.69c96","name":"Reactor 1 Temp.","group":"7327ab4f.36a614","order":8,"width":0,"height":0,"gtype":"gage","title":"Reactor 1 Temp.","label":"degC","format":"{{value}}","min":0,"max":"270","colors":["#00b500","#e6e600","#ca3838"],"seg1":"100","seg2":"200","x":2060,"y":2240,"wires":[]},{"id":"c17c39db.1cce38","type":"change","z":"60e4a180.69c96","name":"Store Result","rules":[{"t":"set","p":"flowsynmaxi1.temperatureReactor1","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2050,"y":2280,"wires":[[]]},{"id":"f39032d8.77b02","type":"ui_gauge","z":"60e4a180.69c96","name":"Reactor 2 Temp.","group":"7327ab4f.36a614","order":9,"width":0,"height":0,"gtype":"gage","title":"Reactor 2 Temp.","label":"degC","format":"{{value}}","min":0,"max":"270","colors":["#00b500","#e6e600","#ca3838"],"seg1":"100","seg2":"200","x":2060,"y":2320,"wires":[]},{"id":"b8018316.23213","type":"change","z":"60e4a180.69c96","name":"Store Result","rules":[{"t":"set","p":"flowsynmaxi1.temperatureReactor2","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2050,"y":2360,"wires":[[]]},{"id":"b8a6dfe6.b5f0b","type":"ui_gauge","z":"60e4a180.69c96","name":"Reactor 3 Temp.","group":"7327ab4f.36a614","order":10,"width":0,"height":0,"gtype":"gage","title":"Reactor 3 Temp.","label":"degC","format":"{{value}}","min":0,"max":"270","colors":["#00b500","#e6e600","#ca3838"],"seg1":"100","seg2":"200","x":2060,"y":2400,"wires":[]},{"id":"37dbfe6f.c169c2","type":"change","z":"60e4a180.69c96","name":"Store Result","rules":[{"t":"set","p":"flowsynmaxi1.temperatureReactor3","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2050,"y":2440,"wires":[[]]},{"id":"98d23e2f.c5dde","type":"ui_gauge","z":"60e4a180.69c96","name":"Reactor 4 Temp.","group":"7327ab4f.36a614","order":11,"width":0,"height":0,"gtype":"gage","title":"Reactor 4 Temp.","label":"bar","format":"{{value}}","min":0,"max":"270","colors":["#00b500","#e6e600","#ca3838"],"seg1":"100","seg2":"200","x":2060,"y":2480,"wires":[]},{"id":"ad629205.28a93","type":"change","z":"60e4a180.69c96","name":"Store Result","rules":[{"t":"set","p":"flowsynmaxi1.temperatureReactor4","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2050,"y":2520,"wires":[[]]},{"id":"91570f4a.3e1c1","type":"ui_gauge","z":"60e4a180.69c96","name":"Pump A Flow Rate","group":"f82abfd2.c973f","order":1,"width":0,"height":0,"gtype":"gage","title":"Pump A Flow Rate","label":"ml/min","format":"{{value}}","min":0,"max":"55","colors":["#00b500","#e6e600","#ca3838"],"seg1":"20","seg2":"40","x":2070,"y":3760,"wires":[]},{"id":"3baac210.02d82e","type":"change","z":"60e4a180.69c96","name":"Store Result","rules":[{"t":"set","p":"flowsynmaxi1.flowRatePumpA","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2050,"y":3800,"wires":[[]]},{"id":"3d75752f.d464ba","type":"ui_led","z":"60e4a180.69c96","order":15,"group":"f82abfd2.c973f","width":0,"height":0,"label":"Chiller Detected","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"Chiller Detected","x":2060,"y":4080,"wires":[]},{"id":"53c4a6aa.e26128","type":"ui_gauge","z":"60e4a180.69c96","name":"Pump B Flow Rate","group":"f82abfd2.c973f","order":2,"width":0,"height":0,"gtype":"gage","title":"Pump B Flow Rate","label":"ml/min","format":"{{value}}","min":0,"max":"55","colors":["#00b500","#e6e600","#ca3838"],"seg1":"20","seg2":"40","x":2070,"y":3840,"wires":[]},{"id":"bdbafda6.5877d","type":"ui_gauge","z":"60e4a180.69c96","name":"Pump C Flow Rate","group":"f82abfd2.c973f","order":3,"width":0,"height":0,"gtype":"gage","title":"Pump C Flow Rate","label":"ml/min","format":"{{value}}","min":0,"max":"55","colors":["#00b500","#e6e600","#ca3838"],"seg1":"20","seg2":"40","x":2070,"y":3920,"wires":[]},{"id":"73f1bf3b.ab348","type":"ui_gauge","z":"60e4a180.69c96","name":"Pump D Flow Rate","group":"f82abfd2.c973f","order":4,"width":0,"height":0,"gtype":"gage","title":"Pump D Flow Rate","label":"ml/min","format":"{{value}}","min":0,"max":"55","colors":["#00b500","#e6e600","#ca3838"],"seg1":"20","seg2":"40","x":2070,"y":4000,"wires":[]},{"id":"4706b113.5422b","type":"change","z":"60e4a180.69c96","name":"Store Result","rules":[{"t":"set","p":"flowsynmaxi1.flowRatePumpB","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2050,"y":3880,"wires":[[]]},{"id":"b5149504.11ede8","type":"change","z":"60e4a180.69c96","name":"Store Result","rules":[{"t":"set","p":"flowsynmaxi1.flowRatePumpC","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2050,"y":3960,"wires":[[]]},{"id":"653d572e.f8d6d8","type":"change","z":"60e4a180.69c96","name":"Store Result","rules":[{"t":"set","p":"flowsynmaxi1.flowRatePumpD","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2050,"y":4040,"wires":[[]]},{"id":"1f17039f.5e3c6c","type":"ui_chart","z":"60e4a180.69c96","d":true,"name":"Flow Rates","group":"f82abfd2.c973f","order":5,"width":0,"height":0,"label":"Flow Rates","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"55","removeOlder":"20","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":2050,"y":4160,"wires":[[]]},{"id":"1a6582c1.85713d","type":"ui_led","z":"60e4a180.69c96","d":true,"order":10,"group":"f82abfd2.c973f","width":0,"height":0,"label":"Flow Syn Inj Valve A","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"Flow Syn Inj Valve A","x":2080,"y":3440,"wires":[]},{"id":"90bd092c.0e5888","type":"ui_led","z":"60e4a180.69c96","d":true,"order":11,"group":"f82abfd2.c973f","width":0,"height":0,"label":"Flow Syn Inj Valve B","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"Flow Syn Inj Valve B","x":2080,"y":3520,"wires":[]},{"id":"f4ab26fc.f32588","type":"ui_led","z":"60e4a180.69c96","d":true,"order":12,"group":"f82abfd2.c973f","width":0,"height":0,"label":"Binary Inj Valve C","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"Binary Inj Valve C","x":2070,"y":3600,"wires":[]},{"id":"9a6ca3fd.5b0f9","type":"ui_led","z":"60e4a180.69c96","d":true,"order":13,"group":"f82abfd2.c973f","width":0,"height":0,"label":"Binary Inj Valve D","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"Binary Inj Valve D","x":2070,"y":3680,"wires":[]},{"id":"f8b7212c.e86fb","type":"change","z":"60e4a180.69c96","name":"Store Result","rules":[{"t":"set","p":"flowsynmaxi1.valveInjOpenA","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2050,"y":3480,"wires":[[]]},{"id":"77e3da2a.f8ef74","type":"change","z":"60e4a180.69c96","name":"Store Result","rules":[{"t":"set","p":"flowsynmaxi1.valveInjOpenB","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2050,"y":3560,"wires":[[]]},{"id":"3393d17a.5b47be","type":"change","z":"60e4a180.69c96","name":"Store Result","rules":[{"t":"set","p":"flowsynmaxi1.valveInjOpenC","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2050,"y":3640,"wires":[[]]},{"id":"49e35f3e.aa96e","type":"change","z":"60e4a180.69c96","name":"Store Result","rules":[{"t":"set","p":"flowsynmaxi1.valveInjOpenD","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2050,"y":3720,"wires":[[]]},{"id":"3e44c8.f70dfb38","type":"change","z":"60e4a180.69c96","name":"Store Result","rules":[{"t":"set","p":"flowsynmaxi1.chillerDetected","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2050,"y":4120,"wires":[[]]},{"id":"9ca2a9ab.628ac8","type":"ui_chart","z":"60e4a180.69c96","d":true,"name":"Reactor Temperatures","group":"7327ab4f.36a614","order":12,"width":0,"height":0,"label":"Reactor Temperatures","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"270","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":2080,"y":2560,"wires":[[]]},{"id":"580f5704.769c98","type":"change","z":"60e4a180.69c96","name":"Store Reactor 1 Set Temp","rules":[{"t":"set","p":"flowsynmaxi1.setTempReactor1","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1010,"y":540,"wires":[["5dee05b3.1ad8ec"]]},{"id":"5ef10488.0a43fc","type":"change","z":"60e4a180.69c96","name":"Store Reactor 2 Set Temp","rules":[{"t":"set","p":"flowsynmaxi1.setTempReactor2","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1010,"y":620,"wires":[["21ffce40.e6e3c2"]]},{"id":"e0840d.3cc93bf","type":"change","z":"60e4a180.69c96","name":"Store Reactor 3 Set Temp","rules":[{"t":"set","p":"flowsynmaxi1.setTempReactor3","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1010,"y":700,"wires":[["822800b7.5df8a"]]},{"id":"9984918f.90f78","type":"change","z":"60e4a180.69c96","name":"Store Reactor 4 Set Temp","rules":[{"t":"set","p":"flowsynmaxi1.setTempReactor4","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1010,"y":780,"wires":[["4c8971df.71545"]]},{"id":"9677987e.98f338","type":"function","z":"60e4a180.69c96","name":"RespToString","func":"var tempString = msg.payload;\nmsg.response = tempString.toString();\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2860,"y":1360,"wires":[["5e0f15cc.215fbc"]]},{"id":"5e0f15cc.215fbc","type":"switch","z":"60e4a180.69c96","name":"","property":"response","propertyType":"msg","rules":[{"t":"cont","v":"ok","vt":"str"},{"t":"cont","v":"OK","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":3050,"y":1360,"wires":[[],[],["6936e2af.b492fc"]]},{"id":"8fa1ee90.226c3","type":"tcp request","z":"60e4a180.69c96","server":"","port":"","out":"char","splitc":"\\n","name":"toFlowSynMaxiTCPCommand","x":2610,"y":1440,"wires":[["d1717201.ee51f"]]},{"id":"d1717201.ee51f","type":"function","z":"60e4a180.69c96","name":"RespToString","func":"var tempString = msg.payload;\nmsg.response = tempString.toString();\nreturn msg;","outputs":1,"noerr":0,"x":2860,"y":1440,"wires":[["86a34fb1.61557"]]},{"id":"86a34fb1.61557","type":"switch","z":"60e4a180.69c96","name":"","property":"response","propertyType":"msg","rules":[{"t":"cont","v":"ok","vt":"str"},{"t":"cont","v":"OK","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":3050,"y":1440,"wires":[[],[],["5aa43675.527b58"]]},{"id":"46c57c22.e80f34","type":"tcp request","z":"60e4a180.69c96","server":"","port":"","out":"char","splitc":"\\n","name":"toFlowSynMaxiTCPCommand","x":2610,"y":1520,"wires":[["ccc44619.776708"]]},{"id":"ccc44619.776708","type":"function","z":"60e4a180.69c96","name":"RespToString","func":"var tempString = msg.payload;\nmsg.response = tempString.toString();\nreturn msg;","outputs":1,"noerr":0,"x":2860,"y":1520,"wires":[[]]},{"id":"6936e2af.b492fc","type":"change","z":"60e4a180.69c96","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"cmdToSend","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2360,"y":1440,"wires":[["8fa1ee90.226c3"]]},{"id":"5aa43675.527b58","type":"change","z":"60e4a180.69c96","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"cmdToSend","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2360,"y":1520,"wires":[["46c57c22.e80f34"]]},{"id":"8a336429.e64618","type":"change","z":"60e4a180.69c96","name":"Set Temps","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"","fromt":"str","to":"flowsynmaxi1.setTempReactor1-hex","tot":"global"},{"t":"change","p":"payload","pt":"msg","from":"","fromt":"str","to":"flowsynmaxi1.setTempReactor2-hex","tot":"global"},{"t":"change","p":"payload","pt":"msg","from":"","fromt":"str","to":"flowsynmaxi1.setTempReactor3-hex","tot":"global"},{"t":"change","p":"payload","pt":"msg","from":"","fromt":"str","to":"flowsynmaxi1.setTempReactor4-hex","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":1430,"y":660,"wires":[["399324ef.e4f8dc"]]},{"id":"399324ef.e4f8dc","type":"function","z":"60e4a180.69c96","name":"ConvertToBuffer","func":"msg.payload = Buffer.from(msg.payload +\"\\r\\n\");\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1600,"y":660,"wires":[["73ae85a7.2d242c"]]},{"id":"3f592467.97557c","type":"link out","z":"60e4a180.69c96","name":"CW Valve","links":["6bc19092.89608"],"x":2215,"y":3360,"wires":[]},{"id":"6bc19092.89608","type":"link in","z":"60e4a180.69c96","name":"","links":["3f592467.97557c"],"x":535,"y":1260,"wires":[["1096c8dc.9ddfc7"]]},{"id":"1096c8dc.9ddfc7","type":"rbe","z":"60e4a180.69c96","name":"","func":"rbei","gap":"","start":"","inout":"out","property":"payload","x":630,"y":1260,"wires":[["253c402c.bc1e2"]]},{"id":"b07e7afe.e1e7e8","type":"link out","z":"60e4a180.69c96","name":"Flow Syn Valve A","links":["1ae78869.e4e978"],"x":2195,"y":3040,"wires":[]},{"id":"e6a75483.dd1b58","type":"link out","z":"60e4a180.69c96","name":"Binary Valve C","links":["acc8c1d6.67ef"],"x":2195,"y":3200,"wires":[]},{"id":"b211b7c9.df5408","type":"link out","z":"60e4a180.69c96","name":"Binary Valve D","links":["f4f15b2b.e70158"],"x":2215,"y":3280,"wires":[]},{"id":"dd6a6313.dbe9f","type":"link out","z":"60e4a180.69c96","name":"Flow Syn Valve B","links":["aa54bff5.32124"],"x":2195,"y":3120,"wires":[]},{"id":"8191a3de.52ef7","type":"link out","z":"60e4a180.69c96","name":"Flow Syn Inj Valve A","links":["7fc8e3b.eb1ef1c"],"x":2215,"y":3440,"wires":[]},{"id":"6a914b5.9f4b2b4","type":"link out","z":"60e4a180.69c96","name":"Flow Syn Inj Valve B","links":["f566be0.dc10b4"],"x":2215,"y":3520,"wires":[]},{"id":"770d11e0.f4bd1","type":"link out","z":"60e4a180.69c96","name":"Binary Inj Valve C","links":["1a77e0dc.1e27af"],"x":2195,"y":3600,"wires":[]},{"id":"59956651.092228","type":"link out","z":"60e4a180.69c96","name":"Binary Inj Valve D","links":["fb0c84d9.1617e8"],"x":2195,"y":3660,"wires":[]},{"id":"1ae78869.e4e978","type":"link in","z":"60e4a180.69c96","name":"","links":["b07e7afe.e1e7e8"],"x":535,"y":860,"wires":[["4add2c14.14e9f4"]]},{"id":"4add2c14.14e9f4","type":"rbe","z":"60e4a180.69c96","name":"","func":"rbei","gap":"","start":"","inout":"out","property":"payload","x":630,"y":860,"wires":[["9a1b5337.16fa5"]]},{"id":"aa54bff5.32124","type":"link in","z":"60e4a180.69c96","name":"","links":["dd6a6313.dbe9f"],"x":535,"y":960,"wires":[["ed96061a.523518"]]},{"id":"ed96061a.523518","type":"rbe","z":"60e4a180.69c96","name":"","func":"rbei","gap":"","start":"","inout":"out","property":"payload","x":630,"y":960,"wires":[["99039b60.22a878"]]},{"id":"acc8c1d6.67ef","type":"link in","z":"60e4a180.69c96","name":"","links":["e6a75483.dd1b58"],"x":535,"y":1060,"wires":[["cdd45319.47945"]]},{"id":"cdd45319.47945","type":"rbe","z":"60e4a180.69c96","name":"","func":"rbei","gap":"","start":"","inout":"out","property":"payload","x":630,"y":1060,"wires":[["5ca256c0.189c98"]]},{"id":"f4f15b2b.e70158","type":"link in","z":"60e4a180.69c96","name":"","links":["b211b7c9.df5408"],"x":535,"y":1160,"wires":[["ee7455ae.b40e08"]]},{"id":"ee7455ae.b40e08","type":"rbe","z":"60e4a180.69c96","name":"","func":"rbei","gap":"","start":"","inout":"out","property":"payload","x":630,"y":1160,"wires":[["63c5254d.654fac"]]},{"id":"7fc8e3b.eb1ef1c","type":"link in","z":"60e4a180.69c96","name":"","links":["8191a3de.52ef7"],"x":535,"y":1360,"wires":[["e75f261d.c7b368"]]},{"id":"e75f261d.c7b368","type":"rbe","z":"60e4a180.69c96","name":"","func":"rbei","gap":"","start":"","inout":"out","property":"payload","x":630,"y":1360,"wires":[["d19a03f8.0d15c"]]},{"id":"f566be0.dc10b4","type":"link in","z":"60e4a180.69c96","name":"","links":["6a914b5.9f4b2b4"],"x":535,"y":1460,"wires":[["78bdff21.f0cfc"]]},{"id":"78bdff21.f0cfc","type":"rbe","z":"60e4a180.69c96","name":"","func":"rbei","gap":"","start":"","inout":"out","property":"payload","x":630,"y":1460,"wires":[["f8525119.fb5f"]]},{"id":"1a77e0dc.1e27af","type":"link in","z":"60e4a180.69c96","name":"","links":["770d11e0.f4bd1"],"x":535,"y":1560,"wires":[["8df3bdde.e532c"]]},{"id":"8df3bdde.e532c","type":"rbe","z":"60e4a180.69c96","name":"","func":"rbei","gap":"","start":"","inout":"out","property":"payload","x":630,"y":1560,"wires":[["605ce60.950b01c"]]},{"id":"fb0c84d9.1617e8","type":"link in","z":"60e4a180.69c96","name":"","links":["59956651.092228"],"x":535,"y":1660,"wires":[["613cc230.26440c"]]},{"id":"613cc230.26440c","type":"rbe","z":"60e4a180.69c96","name":"","func":"rbei","gap":"","start":"","inout":"out","property":"payload","x":630,"y":1660,"wires":[["ce42d260.5c214"]]},{"id":"3b2cf8d2.aa82c8","type":"link out","z":"60e4a180.69c96","name":"Pump A Flow Rate","links":["2b9c4e3e.7dbab2"],"x":2215,"y":3760,"wires":[]},{"id":"2b9c4e3e.7dbab2","type":"link in","z":"60e4a180.69c96","name":"Pump A Flow Rate","links":["3b2cf8d2.aa82c8"],"x":515,"y":80,"wires":[["41a1a4a2.e0928c"]]},{"id":"41a1a4a2.e0928c","type":"rbe","z":"60e4a180.69c96","name":"","func":"rbei","gap":"","start":"","inout":"out","property":"payload","x":610,"y":80,"wires":[["4d21e8cd.51b7a8","9ae076f9.b01848","c61156.1697fea8"]]},{"id":"5a0bee0.3521d14","type":"link in","z":"60e4a180.69c96","name":"Pump B Flow Rate","links":["4abef220.0d8c0c"],"x":515,"y":200,"wires":[["a3684bcf.2f7f18"]]},{"id":"a3684bcf.2f7f18","type":"rbe","z":"60e4a180.69c96","name":"","func":"rbei","gap":"","start":"","inout":"out","property":"payload","x":610,"y":200,"wires":[["713a5417.a884ac","aed04ec.eb50bb","a61e81e1.7d26"]]},{"id":"e6b22a81.0e6788","type":"link in","z":"60e4a180.69c96","name":"Pump C Flow Rate","links":["3b32ae0.e249a52"],"x":515,"y":320,"wires":[["c2025f0f.ee36c"]]},{"id":"c2025f0f.ee36c","type":"rbe","z":"60e4a180.69c96","name":"","func":"rbei","gap":"","start":"","inout":"out","property":"payload","x":610,"y":320,"wires":[["ff196986.067d28","4781fdaf.d20d74","df4b22f3.4876e"]]},{"id":"fd3f85b3.228518","type":"link in","z":"60e4a180.69c96","name":"Pump D Flow Rate","links":["e5f6535a.1167e"],"x":515,"y":440,"wires":[["2a268c2b.0c6bd4"]]},{"id":"2a268c2b.0c6bd4","type":"rbe","z":"60e4a180.69c96","name":"","func":"rbei","gap":"","start":"","inout":"out","property":"payload","x":610,"y":440,"wires":[["c2ac6c99.5b7fd","a59401d2.4c286","d1b15b51.f7d858"]]},{"id":"4abef220.0d8c0c","type":"link out","z":"60e4a180.69c96","name":"Pump B Flow Rate","links":["5a0bee0.3521d14"],"x":2215,"y":3840,"wires":[]},{"id":"3b32ae0.e249a52","type":"link out","z":"60e4a180.69c96","name":"Pump C Flow Rate","links":["e6b22a81.0e6788"],"x":2215,"y":3920,"wires":[]},{"id":"e5f6535a.1167e","type":"link out","z":"60e4a180.69c96","name":"Pump D Flow Rate","links":["fd3f85b3.228518"],"x":2215,"y":4000,"wires":[]},{"id":"9ae076f9.b01848","type":"ui_numeric","z":"60e4a180.69c96","name":"","label":"Pump A Flow Rate","tooltip":"","group":"f9c5ce26.52f18","order":6,"width":"0","height":"0","wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"50","step":"0.01","x":790,"y":120,"wires":[["b443fcee.a9c07"]]},{"id":"aed04ec.eb50bb","type":"ui_numeric","z":"60e4a180.69c96","name":"","label":"Pump B Flow Rate","tooltip":"","group":"f9c5ce26.52f18","order":7,"width":"0","height":"0","wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"50","step":"0.01","x":790,"y":240,"wires":[["7245831e.3bcd4c"]]},{"id":"4781fdaf.d20d74","type":"ui_numeric","z":"60e4a180.69c96","name":"","label":"Bin. Pump C Flow Rate","tooltip":"","group":"f9c5ce26.52f18","order":8,"width":"0","height":"0","wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"50","step":"0.01","x":790,"y":360,"wires":[["619a0dd8.679854"]]},{"id":"a59401d2.4c286","type":"ui_numeric","z":"60e4a180.69c96","name":"","label":"Bin. Pump D Flow Rate","tooltip":"","group":"f9c5ce26.52f18","order":9,"width":"0","height":"0","wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"50","step":"0.01","x":790,"y":480,"wires":[["c478d9af.8a4448"]]},{"id":"d39d2e96.e623f","type":"comment","z":"60e4a180.69c96","name":"Status lights of valves is not needed anymore becuase the Set valves option gets updated if a chnage is made manually on the reactor","info":"","x":2010,"y":3000,"wires":[]},{"id":"17570ff4.2854","type":"throttle","z":"60e4a180.69c96","name":"","throttleType":"time","timeLimit":"5","timeLimitType":"seconds","countLimit":0,"blockSize":0,"locked":false,"x":2030,"y":1800,"wires":[["26828c95.4caa64"]]},{"id":"87871100.8f15e","type":"switch","z":"60e4a180.69c96","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"connect failed","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1230,"y":2220,"wires":[[],[]]},{"id":"95f55118.6b987","type":"catch","z":"60e4a180.69c96","name":"Check if reactor is connected","scope":["dc6e3bf9.af7798","a335e291.80ce7"],"uncaught":false,"x":1420,"y":4860,"wires":[[]]},{"id":"4577c21d.ed39ac","type":"switch","z":"60e4a180.69c96","name":"Check topic for distribution","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"PumpAFlowRate","vt":"str"},{"t":"eq","v":"PumpBFlowRate","vt":"str"},{"t":"eq","v":"BinaryPumpCFlowRate","vt":"str"},{"t":"eq","v":"BinaryPumpDFlowRate","vt":"str"},{"t":"eq","v":"Reactor1Temp","vt":"str"},{"t":"eq","v":"Reactor2Temp","vt":"str"},{"t":"eq","v":"Reactor3Temp","vt":"str"},{"t":"eq","v":"Reactor4Temp","vt":"str"},{"t":"eq","v":"FlowSynValveA","vt":"str"},{"t":"eq","v":"FlowSynValveB","vt":"str"},{"t":"eq","v":"FlowBinaryValveC","vt":"str"},{"t":"eq","v":"FlowBinaryValveD","vt":"str"},{"t":"eq","v":"FlowCWValve","vt":"str"},{"t":"eq","v":"FlowSynInjValveA","vt":"str"},{"t":"eq","v":"FlowSynInjValveB","vt":"str"},{"t":"eq","v":"FlowBinaryInjValveC","vt":"str"},{"t":"eq","v":"FlowBinaryInjValveD","vt":"str"},{"t":"eq","v":"Heater","vt":"str"}],"checkall":"false","repair":false,"outputs":18,"x":280,"y":960,"wires":[["9ae076f9.b01848"],["aed04ec.eb50bb"],["4781fdaf.d20d74"],["a59401d2.4c286"],["1ae6cd41.fdaec3","57878ab3.a46124"],["9702e65b.942708","ab41a85b.4333b8"],["ad86dc41.17dc3","63f08f3f.09b6a","a68db2dc.d3564"],["acc5052c.d57fa8"],["9a1b5337.16fa5"],["99039b60.22a878"],["5ca256c0.189c98"],["63c5254d.654fac"],["253c402c.bc1e2"],["d19a03f8.0d15c"],["f8525119.fb5f"],["605ce60.950b01c"],["ce42d260.5c214"],["5da09c51.1bd984"]]},{"id":"5dee05b3.1ad8ec","type":"function","z":"60e4a180.69c96","name":"ConvertToHex","func":"msg.payload = msg.payload.toString(16);\n\nlet temp = msg.payload\nglobal.set(\"flowsynmaxi1.setTempReactor1-hex\",temp);\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1240,"y":540,"wires":[["8a336429.e64618"]]},{"id":"21ffce40.e6e3c2","type":"function","z":"60e4a180.69c96","name":"ConvertToHex","func":"msg.payload = msg.payload.toString(16);\n\nlet temp = msg.payload\nglobal.set(\"flowsynmaxi1.setTempReactor2-hex\",temp);\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1240,"y":620,"wires":[["8a336429.e64618"]]},{"id":"822800b7.5df8a","type":"function","z":"60e4a180.69c96","name":"ConvertToHex","func":"msg.payload = msg.payload.toString(16);\n\nlet temp = msg.payload\nglobal.set(\"flowsynmaxi1.setTempReactor3-hex\",temp);\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1240,"y":700,"wires":[["8a336429.e64618"]]},{"id":"4c8971df.71545","type":"function","z":"60e4a180.69c96","name":"ConvertToHex","func":"msg.payload = msg.payload.toString(16);\n\nlet temp = msg.payload\nglobal.set(\"flowsynmaxi1.setTempReactor4-hex\",temp);\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1240,"y":780,"wires":[["8a336429.e64618"]]},{"id":"c61156.1697fea8","type":"ui_text_input","z":"60e4a180.69c96","name":"PumpAFlowRate","label":"Flow Syn Pump A Flow Rate (mL/min)","tooltip":"","group":"f9c5ce26.52f18","order":3,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"","x":790,"y":80,"wires":[["b443fcee.a9c07"]]},{"id":"a61e81e1.7d26","type":"ui_text_input","z":"60e4a180.69c96","name":"PumpBFlowRate","label":"Flow Syn Pump B Flow Rate (mL/min)","tooltip":"","group":"f9c5ce26.52f18","order":3,"width":0,"height":0,"passthru":true,"mode":"text","delay":"1000","topic":"","x":790,"y":200,"wires":[["7245831e.3bcd4c"]]},{"id":"df4b22f3.4876e","type":"ui_text_input","z":"60e4a180.69c96","name":"PumpCFlowRate","label":"Binary Pump C Flow Rate (uL/min)","tooltip":"","group":"f9c5ce26.52f18","order":3,"width":0,"height":0,"passthru":true,"mode":"text","delay":"1000","topic":"","x":790,"y":320,"wires":[["619a0dd8.679854"]]},{"id":"d1b15b51.f7d858","type":"ui_text_input","z":"60e4a180.69c96","name":"PumpDFlowRate","label":"Binary Pump D Flow Rate (uL/min)","tooltip":"","group":"f9c5ce26.52f18","order":3,"width":0,"height":0,"passthru":true,"mode":"text","delay":"1000","topic":"","x":790,"y":440,"wires":[["c478d9af.8a4448"]]},{"id":"57878ab3.a46124","type":"ui_text_input","z":"60e4a180.69c96","name":"Reactor1Temp","label":"Reactor 1 Temp.","tooltip":"","group":"5abf5184.1ba7f","order":2,"width":0,"height":0,"passthru":true,"mode":"number","delay":"0","topic":"","x":780,"y":520,"wires":[["580f5704.769c98"]]},{"id":"ab41a85b.4333b8","type":"ui_text_input","z":"60e4a180.69c96","name":"Reactor2Temp","label":"Reactor 2 Temp.","tooltip":"","group":"5abf5184.1ba7f","order":3,"width":0,"height":0,"passthru":true,"mode":"number","delay":"0","topic":"","x":780,"y":600,"wires":[["5ef10488.0a43fc"]]},{"id":"63f08f3f.09b6a","type":"ui_text_input","z":"60e4a180.69c96","name":"Reactor3Temp","label":"Reactor 3 Temp.","tooltip":"","group":"5abf5184.1ba7f","order":5,"width":0,"height":0,"passthru":true,"mode":"number","delay":"0","topic":"","x":780,"y":680,"wires":[["e0840d.3cc93bf"]]},{"id":"a68db2dc.d3564","type":"ui_text_input","z":"60e4a180.69c96","name":"Reactor4Temp","label":"Reactor 3 Temp.","tooltip":"","group":"5abf5184.1ba7f","order":7,"width":0,"height":0,"passthru":true,"mode":"number","delay":"0","topic":"","x":780,"y":760,"wires":[["9984918f.90f78"]]},{"id":"f9c5ce26.52f18","type":"ui_group","name":"Set Flow Rates","tab":"b0db63ab.f1acb","order":2,"disp":true,"width":"6","collapse":true},{"id":"5abf5184.1ba7f","type":"ui_group","name":"Set Temperatures","tab":"b0db63ab.f1acb","order":7,"disp":true,"width":"6","collapse":true},{"id":"e5633a14.a5ee38","type":"ui_group","name":"Set Valves","tab":"b0db63ab.f1acb","order":4,"disp":true,"width":"6","collapse":true},{"id":"8af4ac7b.4b64f","type":"ui_group","name":"Set Heater","tab":"b0db63ab.f1acb","order":6,"disp":true,"width":"6","collapse":true},{"id":"7327ab4f.36a614","type":"ui_group","name":"Status: Temp. & Press.","tab":"b0db63ab.f1acb","order":10,"disp":true,"width":"6","collapse":true},{"id":"f82abfd2.c973f","type":"ui_group","name":"Status: Valves & Flows","tab":"b0db63ab.f1acb","order":12,"disp":true,"width":"6","collapse":true},{"id":"b0db63ab.f1acb","type":"ui_tab","name":"Control: Flow Syn Maxi 1","icon":"dashboard","order":2,"disabled":false,"hidden":false}]
