Node-RED_flows/HotChip_flow.json
[{"id":"25c8861.1e0bd7a","type":"ui_button","z":"32657353.2f2fcc","name":"HotCoil 1 ON","group":"53c2b2f9.3363bc","order":0,"width":0,"height":0,"passthru":true,"label":"HotCoil 1 ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","topicType":"str","x":510,"y":40,"wires":[["6190cb5.573eb34","597b5a88.cc66e4"]],"outputLabels":["HOTPLATE"],"info":"test"},{"id":"2e22f4ff.9dc3ac","type":"ui_gauge","z":"32657353.2f2fcc","name":"HotCoil1Gauge","group":"53c2b2f9.3363bc","order":1,"width":0,"height":0,"gtype":"gage","title":"HotCoil 1 Temp.","label":"degC","format":"{{value}}","min":0,"max":"270","colors":["#00b500","#e6e600","#ca3838"],"seg1":"100","seg2":"200","x":1120,"y":340,"wires":[]},{"id":"1ab9004a.728a1","type":"ui_button","z":"32657353.2f2fcc","name":"HotCoil 1 OFF","group":"53c2b2f9.3363bc","order":0,"width":0,"height":0,"passthru":true,"label":"HotCoil 1 OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","topicType":"str","x":520,"y":80,"wires":[["6190cb5.573eb34","47c670c4.fbaff"]],"outputLabels":["HOTPLATE"],"info":"test"},{"id":"b01d0b5b.080268","type":"inject","z":"32657353.2f2fcc","d":true,"name":"TriggerHotCoil1TempRequest","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":270,"y":220,"wires":[["746ca0d5.a3c99"]]},{"id":"746ca0d5.a3c99","type":"change","z":"32657353.2f2fcc","name":"Construct Command","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":220,"wires":[["2aa7a25b.5d6f6e"]]},{"id":"3264c274.c453fe","type":"ui_slider","z":"32657353.2f2fcc","name":"HotCoil1TempSlider","label":"HotCoil1TempSlider","tooltip":"","group":"53c2b2f9.3363bc","order":2,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","topicType":"str","min":"0.1","max":"260","step":"0.1","x":240,"y":120,"wires":[["c34445d6.e43348","2376d938.ee6646"]]},{"id":"c34445d6.e43348","type":"change","z":"32657353.2f2fcc","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"temp","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"","fromt":"str","to":"temp","tot":"msg"},{"t":"set","p":"hotcoil1.setTemp","pt":"global","to":"temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":120,"wires":[["6190cb5.573eb34"]]},{"id":"387445be.ab4c7a","type":"tcp request","z":"32657353.2f2fcc","d":true,"server":"","port":"","out":"time","splitc":"100","name":"HotCoil1TCPIPReq","x":530,"y":340,"wires":[["61d74887.425328"]]},{"id":"61d74887.425328","type":"function","z":"32657353.2f2fcc","name":"RespToString","func":"var tempString = msg.payload;\nmsg.response = tempString.toString();\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":340,"wires":[["2e22f4ff.9dc3ac","9536bca6.4d1eb"]]},{"id":"856da8b8.ae6538","type":"tcp request","z":"32657353.2f2fcc","server":"","port":"","out":"time","splitc":"100","name":"HotCoil1TCPIPCommand","x":1270,"y":140,"wires":[["ee3105e7.2cc078"]]},{"id":"e679a156.9bd4","type":"switch","z":"32657353.2f2fcc","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"},{"t":"eq","v":"OFF","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":190,"y":40,"wires":[["25c8861.1e0bd7a"],["1ab9004a.728a1"],["c34445d6.e43348"]]},{"id":"6190cb5.573eb34","type":"change","z":"32657353.2f2fcc","name":"Add Host Settings","rules":[{"t":"set","p":"host","pt":"msg","to":"hotcoil1.ipAddr","tot":"global"},{"t":"set","p":"port","pt":"msg","to":"hotcoil1.port","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":140,"wires":[["856da8b8.ae6538"]]},{"id":"2aa7a25b.5d6f6e","type":"change","z":"32657353.2f2fcc","name":"Add Host Settings","rules":[{"t":"set","p":"host","pt":"msg","to":"hotcoil1.ipAddr","tot":"global"},{"t":"set","p":"port","pt":"msg","to":"hotcoil1.port","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":280,"wires":[["387445be.ab4c7a"]]},{"id":"9536bca6.4d1eb","type":"change","z":"32657353.2f2fcc","name":"Store Temp Read in Global","rules":[{"t":"set","p":"hotcoil1.temp","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1160,"y":300,"wires":[[]]},{"id":"2376d938.ee6646","type":"change","z":"32657353.2f2fcc","name":"Store Set Temp in Global","rules":[{"t":"set","p":"hotcoil1.setTemp","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":200,"wires":[[]]},{"id":"597b5a88.cc66e4","type":"change","z":"32657353.2f2fcc","name":"Store Set Switch State in Global","rules":[{"t":"set","p":"hotcoil1.heaterON","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":40,"wires":[[]]},{"id":"47c670c4.fbaff","type":"change","z":"32657353.2f2fcc","name":"Store Reset Switch State in Global","rules":[{"t":"set","p":"hotcoil1.heaterON","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":80,"wires":[[]]},{"id":"ee3105e7.2cc078","type":"function","z":"32657353.2f2fcc","name":"RespToString","func":"var tempString = msg.payload;\nmsg.payload = tempString.toString();\nreturn msg;","outputs":1,"noerr":0,"x":1500,"y":140,"wires":[[]]},{"id":"53c2b2f9.3363bc","type":"ui_group","name":"HotCoil 1","tab":"f90e9fe4.810a2","order":1,"disp":true,"width":"6","collapse":false},{"id":"f90e9fe4.810a2","type":"ui_tab","name":"Control: HotCoil 1","icon":"fa-thermometer-full","order":12,"disabled":false,"hidden":false}]
