Node-RED_flows/HotCoil_flow.json
[{"id":"c26fe3d.6edc02","type":"ui_button","z":"7ae09a00.c73024","name":"HotChip 1 ON","group":"1853ba21.f1b306","order":0,"width":0,"height":0,"passthru":true,"label":"HotChip 1 ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","topicType":"str","x":540,"y":40,"wires":[["a6e7c891.d21d08","b3a7e65b.1fe908"]],"outputLabels":["HOTPLATE"],"info":"test"},{"id":"ad538bdb.e82148","type":"ui_gauge","z":"7ae09a00.c73024","name":"HotChip1Gauge","group":"1853ba21.f1b306","order":1,"width":0,"height":0,"gtype":"gage","title":"HotChip 1 Temp.","label":"degC","format":"{{value}}","min":0,"max":"270","colors":["#00b500","#e6e600","#ca3838"],"seg1":"100","seg2":"200","x":1100,"y":380,"wires":[]},{"id":"aa9c500e.1ae35","type":"ui_button","z":"7ae09a00.c73024","name":"HotChip 1 OFF","group":"1853ba21.f1b306","order":0,"width":0,"height":0,"passthru":true,"label":"HotChip 1 OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","topicType":"str","x":540,"y":80,"wires":[["a6e7c891.d21d08","ee167c89.d1ec6"]],"outputLabels":["HOTPLATE"],"info":"test"},{"id":"a47a3a77.556998","type":"inject","z":"7ae09a00.c73024","d":true,"name":"TriggerHotChip1TempRequest","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"2","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":290,"y":260,"wires":[["4cb8cde5.e71f94"]]},{"id":"22c6eafd.8b0306","type":"ui_slider","z":"7ae09a00.c73024","name":"HotChip1TempSlider","label":"HotChip1TempSlider","tooltip":"","group":"1853ba21.f1b306","order":2,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","topicType":"str","min":"0.1","max":"260","step":"0.1","x":260,"y":120,"wires":[["ee45660b.93e288","260f5bb4.61c154"]]},{"id":"4cb8cde5.e71f94","type":"change","z":"7ae09a00.c73024","name":"Construct Command","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":260,"wires":[["e480e61a.72f768"]]},{"id":"ee45660b.93e288","type":"change","z":"7ae09a00.c73024","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"temp","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"","fromt":"str","to":"temp","tot":"msg"},{"t":"set","p":"hotchip1.setTemp","pt":"global","to":"temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":120,"wires":[["a6e7c891.d21d08"]]},{"id":"51ef6c5f.f6f014","type":"tcp request","z":"7ae09a00.c73024","server":"","port":"","out":"time","splitc":"100","name":"HotChip1TCPIPReq","x":560,"y":380,"wires":[["5a5e2071.4abf8"]]},{"id":"5a5e2071.4abf8","type":"function","z":"7ae09a00.c73024","name":"RespToString","func":"var tempString = msg.payload;\nmsg.response = tempString.toString();\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":380,"wires":[["ad538bdb.e82148","549b653c.066aac"]]},{"id":"1e1cf302.5ec1fd","type":"tcp request","z":"7ae09a00.c73024","server":"","port":"","out":"time","splitc":"100","name":"HotChip1TCPIPCommand","x":1180,"y":160,"wires":[["87fd3bac.d8f918"]]},{"id":"8b6481d0.f1fdf","type":"switch","z":"7ae09a00.c73024","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"},{"t":"eq","v":"OFF","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":210,"y":40,"wires":[["c26fe3d.6edc02"],["aa9c500e.1ae35"],["ee45660b.93e288"]]},{"id":"a6e7c891.d21d08","type":"change","z":"7ae09a00.c73024","name":"Add Host Settings","rules":[{"t":"set","p":"host","pt":"msg","to":"hotchip1.ipAddr","tot":"global"},{"t":"set","p":"port","pt":"msg","to":"hotchip1.port","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":160,"wires":[["1e1cf302.5ec1fd"]]},{"id":"b3a7e65b.1fe908","type":"change","z":"7ae09a00.c73024","name":"Store Set Switch State in Global","rules":[{"t":"set","p":"hotchip1.heaterON","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":40,"wires":[[]]},{"id":"ee167c89.d1ec6","type":"change","z":"7ae09a00.c73024","name":"Store Reset Switch State in Global","rules":[{"t":"set","p":"hotchip1.heaterON","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":80,"wires":[[]]},{"id":"260f5bb4.61c154","type":"change","z":"7ae09a00.c73024","name":"Store Set Temp in Global","rules":[{"t":"set","p":"hotchip1.setTemp","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":220,"wires":[[]]},{"id":"e480e61a.72f768","type":"change","z":"7ae09a00.c73024","name":"Add Host Settings","rules":[{"t":"set","p":"host","pt":"msg","to":"hotchip1.ipAddr","tot":"global"},{"t":"set","p":"port","pt":"msg","to":"hotchip1.port","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":320,"wires":[["51ef6c5f.f6f014"]]},{"id":"549b653c.066aac","type":"change","z":"7ae09a00.c73024","name":"Store Temp Read in Global","rules":[{"t":"set","p":"hotchip1.temp","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1140,"y":340,"wires":[[]]},{"id":"87fd3bac.d8f918","type":"function","z":"7ae09a00.c73024","name":"RespToString","func":"var tempString = msg.payload;\nmsg.payload = tempString.toString();\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1420,"y":160,"wires":[[]]},{"id":"1853ba21.f1b306","type":"ui_group","name":"HotChip 1","tab":"e54e6c82.3d9b5","order":1,"disp":true,"width":"6","collapse":false},{"id":"e54e6c82.3d9b5","type":"ui_tab","name":"Control: HotChip 1","icon":"fa-thermometer-full","order":14,"disabled":false,"hidden":false}]
